extends templates/default

block content
    // Heading
    h2.display-4.font-weight-bold.white-text.mb-2 About Us
    // Divider
    hr.hr-light
    .container-fluid.ride
        p
            | Ride is an application first of its kind in the Balkan's region, where the only way for people to travel is through personal cars or public transportation. However, these ways are not often very convenient as often they are expensive and limited in schedule. There is where Ride excels. People wishing to go to a destination can search for trips going there and can join in the ride with other passengers going on the same place or other places along the way. Drivers also benefit from our app, as the trip not only proves less expensive for them as a result of passengers paying him for the trip, but they also get to have a less lonely and funnier ride.

    // /.Mask
    // /.Navbar
    // Main layout
block content1
    br
    // Main layout
    .container-fluid.bg-grey
    .row
        .col-sm-1
        .col-sm-4
            span
                img.img-thumbnail(src='../img/ridesharing.jpg', alt='ridesharing')
        .col-sm-6
            h2 Our Values
            br
            h4
                strong MISSION:
                |  Our mission is to provide safe and convenient rides making it easier for passengers and drivers to travel to their destination.
            br
            p
                strong VISION:
                |  We believe that Ride makes it easier for a passenger in a foreign country to travel to specific places, is cheaper than any other method of travelling, and is a way to connect people with each other.
        .col-sm-1

    // Footer
    footer
    // Footer     