extends templates/default

block content   
    // Heading
    h2.display-4.font-weight-bold.white-text.mb-2 RIDE
    // Divider
    hr.hr-light
    // Description
    h4.white-text.my-4
        | Let us make your trips more fun. Ride as a passenger or drive others to your common destination.
    button.btn.btn-outline-white.ride(type='button', onclick="location.href='/ride';") Start
    // /.Mask
    // /.Navbar
    // Main layout
    main
    // Main layout
    // Footer
    footer
    // Footer           
        
        